<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<link rel="stylesheet" href="./reset.css">
		<link rel="stylesheet" href="./index.css">
		<title>文件上传</title>
	</head>
	<body>
		<div class="wrap clearfix">
			<ol class="imgList clearfix">
			</ol>
			<div id="filePicker" class="fileWrap">
			</div>
		</div>
		<div class="clearfix">
			<a id="submitBtn" href="javascript:;" class="layout-btn small blue" style="
		    float: right;
		    margin: 20px;">确定</a>
		</div>
		<script src="./jquery.min.js"></script>
		<script src="./webupload.min.js"></script>
		<script src="./exif.min.js"></script>
		<script src="./index.js"></script>
	</body>
</html>
