@import "../reset.scss";
@import "normalize.css";
body {
    /*字体抗锯齿渲染*/
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /* 文字渲染 */
    text-rendering: optimizeLegibility;
    /* text-rendering: geometricPrecision; */

    /* IOS滑动卡顿 */
    -webkit-overflow-scrolling: touch;

    /* IOS浏览器内禁止文字缩放 */
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100%;
}

/* 去除iPhone中默认的input样式 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input {
    -webkit-appearance: none;
    resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

::-webkit-input-placeholder {
    color: #ccc;
}
